[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "broom.helpers"]
	path = broom.helpers
	url = https://github.com/larmarange/broom.helpers
[submodule "ggstats"]
	path = ggstats
	url = https://github.com/larmarange/ggstats
[submodule "guideR"]
	path = guideR
	url = https://github.com/larmarange/guider
[submodule "labelled"]
	path = labelled
	url = https://github.com/larmarange/labelled
[submodule "prevR"]
	path = prevR
	url = https://github.com/larmarange/prevr
